* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
}

section {
  main {
    div.kv {
      position: relative;
      width: 100vw;
      height: 100vh;
      background-color: darkgoldenrod;
    }
    ul.kvList {
      position: absolute;
      width: 1200px;
      height: 300px;
      background-color: darkgray;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s;
    }
    div.scroll {
      width: 1200px;
      height: 300px;
    }
  }
}
